.header {
    background-color: #228eff;
    width: 100%;
    height: 100vh;
    display: inline-block;
}

.my_name {
    font-size: 50pt;
    color: white;
    margin-top: 30vh;
    text-align: center;
}

.desc_of_me {
    font-size: 20pt;
    color: white;
    text-align: center;
}

.navbar-color {
    background-color: #228eff;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.division-header {
    text-align: center;
    color: #228eff;
}
.map {
	width: 100%;
	height: 300px;
	top: 25px;
}

.projects-container {
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 25px;
}

.about-text {
	font-size: 15pt;
	padding-left: 100px;
}

.about-text > a {
	color: black !important;
}

.contacts-bar {
	float: right;
	margin-right: 200px;
	background: #228eff;
	padding: 20px;
	margin-left: 25px;
}

.project-description {
	flex: 1;
	text-align: center;
}

.project-description > p {
	margin-top: 25px;
	padding: 0px;
	text-indent: 0px;
}